# C:\Users\<username>\AppData\Local\clangd\config.yaml
# ======================================================================
# .clangd
# CPP 源文件
If:
  PathMatch: .*\\.cpp$
CompileFlags:
  Add: [-xc++, -std=c++23]
  Remove: [-std=*]

# C 源文件 (.c)
# If:
#   PathMatch: .*\.c$
# CompileFlags:
#   Add: [-xc, -std=c17]
#   Remove: [-std=*]

# ======================================================================
# 全局诊断配置
Diagnostics:
  Suppress: 
    - clang-diagnostic-unused-variable
    - clang-diagnostic-unused-parameter

# ======================================================================
# 索引
Index:
  Background: Build             # 后台构建索引，提升跳转/引用速度
  StandardLibrary: true

# ======================================================================
# 悬停提示
Hover:
  ShowAKA: true                 # 悬停时显示 typedef 别名等信息

# ======================================================================
# 内联提示
InlayHints:
  Enabled: true                 # 显示类型提示（如变量类型、参数名）
  ParameterNames: true
  DeducedTypes: true